*{
    margin: 0;
    padding: 0;
    background-color: rgb(244, 235, 235);
    box-sizing: border-box;
}

.main{
    background-color: white;
    padding: 0.5em;
    height: 90vh;
    width: 90vw;
    display: flex;
    justify-content:first baseline;
    border-width: 5px;
    border: solid;
    border-color: black;
    flex-direction: column;
    margin: 25vh auto 0;
    
}

.section-one{
    border-width: 5px;
    border: solid;
    border-color: rgb(122, 6, 6);
    display: flex;
    flex-direction: column;
}

.header-top{
    border-width: 5px;
    border: solid;
    border-color: black;
    display: flex; 
    flex-direction: row;
    background: lightblue;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;

}
.nav{
    background: lightgreen;
    border-width: 5px;
    border: solid;
    border-color: rgb(5, 147, 123);
    display: flex; 
    flex-direction: row;
}
.link{
    background: peachpuff;
    margin: 0;
    border: solid black 2px;
}

.section-two{
    border-width: 5px;
    border: solid;
    border-color: black;
    display: flex;

}


.section-three{
    border-width: 5px;
    border: solid;
    border-color: black;
    display: flex;

}
.section-four{
    border-width: 5px;
    border: solid;
    border-color: black;
    display: flex;

}

.header-top{
    border-width: 5px;
    border: solid;
    border-color: black;
    display: flex;
}

.header-bottom{
    border-width: 5px;
    border: solid;
    background: orange;
    border-color: black;
    display: flex;
    align-content: center;

}

.hero-one{
    background: rgb(210, 105, 14);
    margin: 0;
    border: solid black 2px;
    align-items: flex-end;
}
.welcome{
    background: peachpuff;
    margin: 0;
    border: solid black 2px;
}

.hero-two{
    background: peachpuff;
    margin: 0;
    border: solid black 2px;
}