*{
    margin: 0;
    padding: 0;
    background-color: white
}

.main{
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    width: 650px;
    margin: 0 5vw 0 5vw;
}

.section-one{
    display:flex;
    flex-direction: column;
    color:  #f9faf8;
    background: #1f2937; 
}

.header-top{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    color:  #f9faf8;
    background: #1f2937; 
}

.header-bottom{
    display:flex;
    flex-direction: row;
    align-items: flex-end;
    background: #1f2937;
}

.nav{
    display:flex;
    flex-direction: row;  
    color:  #f9faf8;
    background: #1f2937; 
}
.link{
    color:  #f9faf8;
    background: #1f2937; 
    font-size: 18px;
}

.logo{
    color:  #f9faf8;
    background: #1f2937;
    font-size: 24px; 
}

.hero-one{
    display:flex;
    flex-direction: column;
    color:  #f9faf8;
    background: #1f2937; 
}

.hero-two{
    display:flex;
    flex-direction: column; 
    color:  #f9faf8;
    background: #1f2937;
    align-items: stretch; 
    }

.welcome-one{
    font-size: 48px;
    font-weight: bolder;
    background: #1f2937; 
    
}

.welcome-two{
    color:  #f9faf8;
    background: #1f2937;
    font-size: 18px;
}

.welcome-three{
    color:  #f9faf8;
    background: #1f2937;
    font-size: 18px;
}
.section-two{
    display:flex;
    flex-direction: column;
    color:  #1f2937;
    background: white;
    align-items: center; 
}

.cards{
    display:flex;
    flex-direction: row;
    color:  #1f2937;
    background: white; 
    align-content: space-between; 
}

.title{
    font-size: 36px;
    font-weight: bolder;
}

.section-three{
    display:flex;
    flex-direction: column;
    color:  #1f2937;
    background: #e5e7eb;
    align-items: center; 
}

.blockquote{
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
}
.section-four{
    display:flex;
    background: #e5e7eb;
    justify-content: center;
}

.footer{
    display: flex;
    background: #3882f6;
    color: #f9faf8;
    padding: 30px;
}

.left{
    background: #3882f6;
    color: #f9faf8;
}

.botton{
    background-color: #3882f6;
}
